          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="far fa-comment-alt" aria-hidden="true"></i> Contact IMVC Developer</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
Muhammad Asyraf bin Wahi Anuar<br>
Faculty of Information Management<br>
Universiti Teknologi MARA Cawangan Johor Kampus Segamat<br>
KM12, Jalan Muar<br>
85000, Segamat, Johor<br><br>
<i class="far fa-envelope" aria-hidden="true"></i> &nbsp; asyraf[dot]wahianuar[at]gmail[dot]com<br>
			  
			  
			  
              </div>
              <!-- /.box-body -->

             
            </form>
          </div>
          <!-- /.box -->