.radio {
  min-height: 20px;
  padding-left: 20px;
}
.radio.inline {
  display: inline-block;
  padding-top: 0px;
  margin-bottom: 0;
  <!--vertical-align: middle;-->
}

.radio.inline + .radio.inline {
  margin-left: 50px;
}

.checkbox_dalam {
  min-height: 20px;
  padding-left: 20px;
}
.checkbox_dalam.inline {
  display: inline-block;
  padding-top: 0px;
  margin-bottom: 0;
  <!--vertical-align: middle;-->
}

.checkbox_dalam.inline + .checkbox_dalam.inline {
  margin-left: 50px;
}

.tajuk{
  font-size: 30px;
  color: #454545
}

.tajuk_ads{
  font-size: 30px;
  font-family: 'Zilla Slab Highlight', cursive;
}

.tajuk_ads_company{
  font-size: 24px;
  font-family: 'Zilla Slab Highlight', cursive;
  text-align: center
}

.searchcollapse {
  text-align: right
}

.kotak {
	width: 100px;
	height: 100px;
	margin-bottom: 8px;
    margin-right: 8px;
	position: relative;
    float: left;
    display: inline-block;

}

.kotak-blue {
	background-color: #0e9dd0;
}

.kotak-blue:hover {
	background-color: #0C86B4;
}

.kotak-green {
	background-color: #9bc505;
}

.kotak-green:hover {
	background-color: #769704;
}

.kotak-yellow {
	background-color: #ecd902;
}

.kotak-yellow:hover {
	background-color: #C4B502;
}

.kotak-orange {
	background-color: #ff8b0c;
}

.kotak-orange:hover {
	background-color: #EC7C00;
}

.kotak-red {
	background-color: #e2241a;
}

.kotak-red:hover {
	background-color: #CA2017;
}

.kotak-purple {
	background-color: #7340b2;
}

.kotak-purple:hover {
	background-color: #5F3492;
}

.kotak-darkblue {
	background-color: #34495e;
}

.kotak-darkblue:hover {
	background-color: #263646;
}

.kotak-emerald {
	background-color: #1abc9c;
}

.kotak-emerald:hover {
	background-color: #14967C;
}

.kotak-grey {
	background-color: #95a5a6;
}

.kotak-grey:hover {
	background-color: #748A8B;
}

.kotak-pink {
	background-color: #eb1460;
}

.kotak-pink:hover {
	background-color: #CC1153;
}

.kotak-brown {
	background-color: #795446;
}

.kotak-brown:hover {
	background-color: #624439;
}

.kotak-amber {
	background-color: #ffc100;
}

.kotak-amber:hover {
	background-color: #CE9B00;
}

.kotak-lightred {
	background-color: #F85A49;
}

.kotak-lightred:hover {
	background-color: #F73722;
}


.kotak-lightpurple {
	background-color: #bb64d9;
}

.kotak-lightpurple:hover {
	background-color: #A532CB;
}

.nota {
    text-align: center;
	color: white;
    font-size: 12px;
    white-space: normal;
    margin-top: 10%;
  font-family: Segoe UI Semilight WestEuropean,Segoe UI Semilight,Segoe UI,Tahoma,Arial,sans-serif;
  line-height: 11px
}

.icon {
    text-align: center;
	color: white;
    margin-top: 30%
}

.greetings {
	font-size: 28px;
	color: white;
    margin-top: 10px;
    font-family: Segoe UI Semilight WestEuropean,Segoe UI Semilight,Segoe UI,Tahoma,Arial,sans-serif;
}

.datetime {
	font-size: 12px;
	color: white;
    font-family: Segoe UI Semilight WestEuropean,Segoe UI Semilight,Segoe UI,Tahoma,Arial,sans-serif;
}

.kk {
	width: 100%;
	height: 100px;
	margin-bottom: 8px;
    margin-right: 8px;
	position: relative;
    float: left;
    display: inline-block;
}



.kk-icon {
    text-align: center;
	color: white;
    margin-top: 15%
}

.kk-blue {
	background-color: #0e9dd0;
}

.kk-blue:hover {
	background-color: #0C86B4;
}

.kotakgraf {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 10px;
  color: white;
}

.profilebox {
  background: #3c8dbc url(../img/bg-2.jpg) repeat;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.profileboxtext {
  background: #FFFFFF;
  text-align: justify;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 5px 5px 5px #888888;
}

.h1gradient {
  font-size: 40px;
  background: -webkit-linear-gradient(#fee405, #3c8dbc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400
}


A.class2 {color:#3c8dbc;}
A.class2:link {text-decoration: none; color: #3c8dbc;}
A.class2:visited {text-decoration: none; color: #3c8dbc;}
A.class2:hover {text-decoration: none; color: #3c8dbc;}
A.class2:active {text-decoration: none; color: #3c8dbc;}

.log_activity {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px
}


.chart {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 200px;
  z-index: 2;
  font-size: 30px
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.count_dashboard {
  background: url(../img/pattern-min.jpg);
  color: #FFFFFF;
  font-size: 26px;
  font-family: Lato, sans-serif;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center
}

.count_dashboard_text {
  font-style: italic;
  font-weight: lighter
}

.pages_tip {
  color: #FFFFFF;
  font-size: 26px;
  text-align: center
}

.pages_content {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  padding-bottom: 20px;
  color: #FFFFFF
}

.interview_no {
  font-size: 40px;
  font-family: 'Monoton', cursive;
}

.blue {
	color: #0e9dd0;
}
.green {
	color: #9bc505;
}
.yellow {
	color: #ecd902;
}
.orange {
	color: #ff8b0c;
}
.red {
	color: #e2241a;
}
.purple {
	color: #7340b2;
}
.darkblue {
	color: #34495e;
}
.emerald {
	color: #1abc9c;
}
.grey {
	color: #95a5a6;
}
.pink {
	color: #eb1460;
}
.brown {
	color: #795446;
}
.amber {
	color: #ffc100;
}
.lightred {
	color: #F85A49;
}
.lightpurple {
	color: #bb64d9;
}

.progress {
  height: 8px;

}   

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

.justify {
  text-align: justify
}

#messenger {
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.public_name {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.nama_student{
  font-size: 24px;
  font-family: 'Jockey One', sans-serif;
  text-align: center
}

.graph_title {
  background-color: #3c8dbc;
  color: #FFFFFF;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px
}

