.butang {
	border: none;
	padding: 0.6em 1.2em;
	background: #428bca;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
    float: right
}

.butang:hover {
	background: #5bc0de;
}



.rams-header,
.rams-top {
	font-family: 'Roboto', sans-serif;
}

.rams-header {
	margin: 0 auto 3em;
	padding: 3em;
	text-align: center;
}



.rams-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
  color: #428bca
}



.rams-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
  font-weight: lighter
}

.sub {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 1.425em;
	color: #aca89a;
    text-align: center;
}

.columnkiri {
  float: right
}

.columnkanan {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: justify
}

a:link { color:#4b4c4c; text-decoration:none; font-weight:normal; }
a:visited { color: #4b4c4c; text-decoration:none; font-weight:normal; }
a:hover { color: #428BCA; text-decoration:underline; font-weight:normal; }
a:active { color: #4b4c4c; text-decoration:none; font-weight:normal; }

    .panel-transparent {
        background: none;
        border-color: transparent;
    }

    .panel-transparent .panel-heading{
        background: none;
        border-color: transparent;
    }

    .panel-transparent .panel-body{
        background: none;
        border-color: transparent;
    }



.faq_link2 {
  padding-left: 17px;
  text-align: justify
}

