.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}


#tile1{
    background: rgb(0,172,238);
}

#tile2{
    background: rgb(243,243,243);
}

#tile3{
    background: rgb(71,193,228);
}

#tile_kuning{
    background: #f39c12;
}

#tile_pink{
    background: #CC3399;
}

#tile_fb{
    background: #3b579d;
}

#tile_gallery{
    background: #df5959;
}

#tile_twitter{
    background: #00acee;
}

#tile_black{
    background: #000000;
}

#tile4{
    background: rgb(71,193,228);
    background-size: cover;
}

#tile5{
    background: rgb(175,26,63);
}

#tile6{
    background: rgb(62,157,215);
}

#tile7{
    background: white;
}

#tile7a{
    background: #743e93;
}

#tile8{
    background: rgb(209,70,37);
}

#tile9{
    background: rgb(0,142,0);
}

#tile10{
    background: rgb(0,93,233);
}

.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    margin:0!important;
    text-align: center;
    color:white;
    font-weight: lighter;
}

.tile_title {
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center
}

.tile_text {
  font-size: 15px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center
}

.tile_date {
  font-size: 100px;
  font-weight: 300;
  color: #FFFFFF;
  padding-left: 10px
}

.tile_date_text {
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  padding-left: 10px;
  margin-top: -30px
}

.tile_date_day {
  font-size: 40px;
  font-weight: 300;
  color: #FFFFFF;
  padding-left: 10px;
  background: url(../img/login/calendar.jpg);
  padding-top: 70%;
  height: 185px;
  width: 185px
}

A.class1 {color:#ffffff;}
A.class1:link  {text-decoration: none; color: #ffffff;}
A.class1:visited {text-decoration: none; color: #ffffff;}
A.class1:hover {text-decoration: none; color: #ffffff;}
A.class1:active {text-decoration: none; color: #ffffff;}

.tile_logged {
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px
}

.custom_lbl_login {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
}

.gambar {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

.gambar:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.imgContainer{
    float:left;
  margin-left: 20px
}

#imagesMain{

    position:relative;
    display: inline-block;
    width:100%;    
    text-align:center;
}
#imagesMain img{
    margin-left:10px; /* trick for remove the space beetwen */
}


