body {
  font-size: 11px;
  
}


.outgoing_reference_title {
  text-align: right;
}

.outgoing_reference {
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
}

.subject {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 60px;
  margin-right: 60px;
}

.isi {
  text-align: justify;
  margin-left: 60px;
  margin-right: 60px;
}

.sk {
   font-size: 12px;
  font-style: italic;
}

.initial {
  text-transform: uppercase;
  font-weight: bold;
}

.qr {
  text-align: right
}

.appointment_info{
  padding-left: 30px;
}

.isi_table {
  margin-left: 60px;
  margin-right: 60px;
  text-transform: uppercase
}