.outgoing_reference_title {
  text-align: right;
  margin-left: 30px;
  margin-right: 30px
}

.outgoing_reference {
  text-align: justify;
  margin-left: 35px;
  margin-right: 35px
}

.subject {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 40px;
  margin-right: 40px
}

.isi {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify
}

.isi_table {
  margin-left: 40px;
  margin-right: 40px;
  text-transform: uppercase 
}

.sk {
   font-size: 12px;
  font-style: italic
}

.initial {
  text-transform: uppercase;
  font-weight: bold;
}

.appointment_info{
  padding-left: 30px;
}