


<div class="row">
  <div class="col-md-12">
  <br><br><br><br>
<center>
<?php echo $this->Html->image('logo.png', array('alt' => 'IMS', 'class' => 'img-responsive')); ?><br><br>
<?php echo $this->Html->image('coming_soon.png', array('alt' => 'IMS', 'class' => 'img-responsive')); ?>
</center>
  </div>
</div>


<div class="row">


  
</div>





