<!DOCTYPE html>
<head>
  <title>ERROR</title>
</head>

<body>


<center>
<div>
    <h1>AHHHHH! YOU FOUND ME!</h1>
	
Unfortunately you have also found an elusive <b>404 error page</b>, which means the page you were looking for is no longer here.	
	
</div>


<?php echo $this->Html->image('monster-min.jpg', array('alt' => '404', 'class' => 'img-responsive')); ?>
</center>

</body>